.contact-card .ant-card-meta ul {
  list-style: none;
  padding: 0;
}

.contact-card .ant-card-meta ul li {
  display: flex;
  align-items: center;
}

.contact-card .ant-card-meta ul li .anticon {
  margin-right: 8px;
}

.contact-card .ant-card-meta ul li .value {
  word-break: break-all;
}
